html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins, Lato, -apple-system, Helvetica Neue, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, sans-serif;
    scroll-behavior: smooth;
}

svg {
  height: 30px;
  cursor: pointer;
}
h1,h2,h3,h4,h5{
  margin: 0px;
}
.MuiInput-underline:hover:not(.Mui-disabled):before, .MuiInput-underline:after, .MuiInput-underline:before{
  border-bottom: 0px !important;
}